@mixin frameMakeStyle($width, $height, $bg-col) {
  width: $width;
  height: $height;
  background-color: $bg-col;
  position: absolute;
}

@mixin fullGreen() {
  color: white;
  background-color: $header-green-palette;
}

@mixin smoothRaiseWithShadow() {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.1) 0 20px 25px -5px,
  rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  transition: all .5s;
}

@mixin flexBox($a-items: center, $j-content: space-between, $wrap: wrap) {
  display: flex;
  align-items: $a-items;
  justify-content: $j-content;
  flex-wrap: $wrap;
}
