@mixin frameMakeStyle($width, $height, $bg-col) {
  width: $width;
  height: $height;
  background-color: $bg-col;
  position: absolute;
}

@mixin fullGreen() {
  color: white;
  background-color: $header-green-palette;
}
