.container {
  margin: 0 300px;
}

.full-orange-outline {
  border: 1px solid $header-orange-palette;
  color: $header-orange-palette;
}

.full-green-outline {
  border: 1px solid $header-green-palette;
  color: $header-green-palette;
}
