.actual-work-card {
  border: 2px solid #F2F0FE;
  padding: 20px;
  border-radius: 20px;

  &:hover {
    @include smoothRaiseWithShadow()
  }

  & .user,
  & .work-description {
    margin-bottom: 30px;
  }

  & .user {
    display: flex;
    align-items: center;

    & p {
      margin-left: 20px;
      font-weight: 600;
    }

    & img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
}
