@import "@/assets/scss/base/_base.scss";
@import "@/assets/scss/abstract/_animations.scss";
@import "@/assets/scss/abstract/_vars.scss";
@import "@/assets/scss/abstract/_mixins.scss";
@import "@/assets/scss/base/_utils.scss";
@import "@/assets/scss/components/button/_header-search.scss";
@import "@/assets/scss/components/button/_rubric.scss";
@import "@/assets/scss/components/button/_look.scss";
@import "@/assets/scss/components/card/_actual-work-card.scss";
@import "@/assets/scss/components/card/_freelancer.scss";
@import "@/assets/scss/components/card/_empty.scss";
@import "@/assets/scss/components/card/_solve.scss";
@import "@/assets/scss/layout/_header.scss";
@import "@/assets/scss/layout/_navbar.scss";
@import "@/assets/scss/layout/_footer.scss";


.actual-works,
.top-freelancers {
  margin-bottom: 100px;
}

.actual-works h3,
.top-freelancers h3,
.container-header {
  margin-bottom: 50px;
}

.actual-works .works,
.top-freelancers .freelancers {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.actual-works .works .actual-work-card,
.top-freelancers .freelancers .freelancer-card {
  width: 32%;
  margin-bottom: 30px;
}

.freelancer-card.actual-work-card.empty-card {
  padding: 120px 100px !important;
}

.main {
  background-color: #F6FAFD;
  padding-top: 125px;
}

.container-header h2 {
  margin-bottom: 25px;
}

.solves {
  padding-bottom: 100px;
}

.stars.animate {
  animation: stars-slidein;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.coin.animate {
  animation: coin-slidein;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
